* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
}

.carousel {
  display: inline-flex;
  padding: 20px;
  background-color: #ddd;
  .container {
    display: flex;
    margin: 10px;
    padding: 20px;
    background-color: #ccc;
    .cell {
      width: 80px;
      height: 80px;
      background-color: blue;
    }
  }
}
.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  overflow: hidden;
  background-color: aquamarine;
}
