.row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin-top: 16px;
    padding: 0 24px;
    &:first-of-type {
        margin-top: 0px;
    }

    & a {
        padding: 12px 32px;
        border: 1px solid #dbdbdb;
        border-radius: 4px;
        background: #fcfcfc;
        color: #111;
        text-decoration: none;
        transition: 0.2s;
        &:hover {
            background-color: #eaeaea;
        }
    }
}
